* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.movie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.movie img {
  border-radius: 0.5rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form input[type='text'] {
  width: 100%;
}

.sort {
  display: flex;
  gap: 1rem;
}
