.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  max-width: 70vw;
  margin: 0 auto;
}

.filters > div {
  display: flex;
  gap: 1rem;
}
